.services{
    &__block{
        margin-left:-18px;
    }
    &__item{
        margin-left:34px;
        text-align: center;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow:0 8px 14px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        &:hover{
            margin-top: -10px;
            background-color: $color-orange;
            box-shadow:0 8px 14px 0 rgba($color-orange, 0.2);
        }
    }

    &__icon{
        margin-top: 42px;
        background-color: #fff;
        border: 1px solid $color-black;
        border-radius: 15px;
        width: 130px;
        height: 95px;
        padding: 15px;
    }

    &__title{
        margin-top: 36px;
        margin-bottom: 24px;
    }

    &__description{
        padding: 0 34px;
        margin-bottom: 34px;
    }
}